*{
    padding: 0px;
    margin: 0px;
}

.main {
    max-width: 1100px;
    margin: auto;}

ul {
    list-style-type: none;
    float: right;
    margin-top: 25px;
}

ul li {
    display: inline-block;
    border: 1px solid transparent;
}  

ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px;
}

ul li a:hover {
    background-color: #a709a7; 
    color: rgb(235, 235, 235);
    transition: 0.6s ease;
}

ul li a.active {
    background-color: white;
    color: black;
}

.logo img { top: 0;
    left: 0;
    width: 55mm;
} 

.center_text {
    text-align: center;
    margin-top: 250px;  
}

.center_text h1 {
    color: rgb(60, 247, 197);
    font-size: 3em; 
    margin-bottom: 10px;
}
.overview-heading {
    text-align: center; 
    display: inline-block;
    width: 100%;
}

.abt{
    color: white;
    
}
#kv1 {
    border: 1px solid rgb(204, 204, 204);
    color: rgb(250, 201, 67);
    padding: 5px;
    text-decoration: none;
}

#kv2 {
    border: 1px solid rgb(204, 204, 204);
    color: rgb(250, 201, 67);
    padding: 5px;
    text-decoration: none;

}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}



.abt h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
    color: #19aaf2;
}

.center-text {
    font-display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.abt ol {
    margin-top: 10px;
}

.abt li {
    list-style-type: circle;
    margin-left: 20px;
}
section {
    padding: 80px 0;
    text-align: center;
    color: tan;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

